@model WebTool.Pages.User.UserInfoDetailModel
@{
    var id = $"Friends";
}

<div>
    <input type="hidden" id="save-user-id" value="@Model.Info.UserSeq" />
</div>

<script>
    let userTextFriend = $('#save-user-id');

    function registerTable@(id)() {
        let userSeq = userTextFriend.val();
        window.setTabTableFunctionMap('@id', function() {
            var table = window.getTabTableMap('@id');
            if (table === undefined) {
                var viewTable = $('#@Model.Info.UserSeq-@id-table'); 
                table = viewTable.DataTable({
                    language: datatablesLangKor('UserSeq, 닉네임'),
                    autoWidth: false,
                    pageResize: true,
                    stateSave: true,
                    lengthMenu: [10, 15, 20, 30, 50, 100],
                    pageLength: 10,
                    processing: true,
                    serverSide: true,
                    ajax: {
                        url: '/api/user/friend-table-data',
                        type: 'POST',
                        data: function (d) {
                            d.userSeq = userSeq;
                        }
                    },
                    columnDefs: [
                        {
                            targets: 2,
                            orderable: false
                        },
                        {
                            targets: 3,
                            orderable: false
                        }
                    ],
                    createdRow: function(row, data, dataIndex, cells) {
                        //$(cells[2]).html('<div class="form-check"><input class="form-check-input" type="checkbox" disabled="" ' + (data[2] === 'true' ? 'checked=""' : '') + '></div>');
                        $(cells[3]).html('<a href="@Url.PageLink("/Player/Detail")?userSeq=' + data[0] + '" class="btn btn-info btn-sm"><i class="fas fa-info-circle"/> 상세정보</a>');
                    }
                });

                viewTable.show();
                window.setTabTableMap('@id', table);
            }

            return table;
        });
    }
</script>