@page
@using WebTool.Extensions
@using Shared
@using Shared.Packet
@using Shared.Server.Define
@model WebTool.Pages.Operation.Event.View
@{
    ViewData["Title"] = "이벤트 조회";
    ViewData["ActiveMenu"] = "/Operation/Event/View";
}

<div class="row mb-2">
    <div class="content-header">
        <h1 class="text-dark">@ViewData["Title"]</h1>
    </div>
</div>


<div class="row">
    
</div>