<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>@ViewData["Title"] - Eves</title>
    @await RenderSectionAsync("Styles", false)
    <partial name="_Styles" />
</head>
@RenderBody()
</html>