@page
@model AccessDeniedModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "에러";
    ViewData["ActiveMenu"] = Model.ReturnUrl;
}

<div class="d-flex justify-content-center">
    <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-danger"></i> 권한이 없습니다.</h3>
    </div>
</div>