@page
@using Shared
@using WebTool.Extensions
@model WebTool.Pages.Operation.ServerPush.SendModel
@{
    ViewData["Title"] = "서버푸시 발송";
    ViewData["ActiveMenu"] = "/Operation/ServerPush/Send";
}

<div class="row mb-2">
    <div class="content-header">
        <h1 class="text-dark">@ViewData["Title"]</h1>
    </div>
</div>

<table class="table table-bordered text-center">
    <tbody>
        <tr>
            <td>
                <strong>제목</strong>
            </td>
            <td>
                <div class="row">
                    <div class="col-md-11">
                        <input type="text" class="form-control" id="titleText" onclick="onTitleTextClicked()" readonly="">
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-block btn-primary" onclick="onTitleTextClicked()">수정</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <strong>수신인</strong>
            </td>
            <td>
                <div class="row">
                    <div class="col-md-11">
                        <textarea id="sendTargetText" class="form-control" rows="3" placeholder="';'으로 구분된 userSeq"></textarea>
                    </div>
                    <div class="col-md-1">
                        <button id="sendTargetButton" type="button" class="btn btn-block btn-primary btn-lg" style="height: 100%" onclick="onUserSelectClicked()">+</button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <div>
                            <div class="icheck-primary d-inline mr-2">
                                <input type="radio" id="sendUserRadio1" name="sendUserRadio" value="1">
                                <label for="sendUserRadio1">
                                    모든 유저
                                </label>
                            </div>
                            <div class="icheck-primary d-inline mr-2">
                                <input type="radio" id="sendUserRadio2" name="sendUserRadio" value="2">
                                <label for="sendUserRadio2">
                                    일반 유저
                                </label>
                            </div>
                            <div class="icheck-primary d-inline mr-2">
                                <input type="radio" id="sendUserRadio3" name="sendUserRadio" value="3">
                                <label for="sendUserRadio3">
                                    신규 유저
                                </label>
                            </div>
                            <div class="icheck-primary d-inline mr-2">
                                <input type="radio" id="sendUserRadio4" name="sendUserRadio" value="4">
                                <label for="sendUserRadio4">
                                    복귀할 유저
                                </label>
                            </div>
                            <div class="icheck-primary d-inline mr-2">
                                <input type="radio" id="sendUserRadio5" name="sendUserRadio" value="5" checked="">
                                <label for="sendUserRadio5">
                                    직접 입력
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <strong>내용</strong>
            </td>
            <td>
                <div class="row">
                    <div class="col-md-11">
                        <input type="text" class="form-control" id="messageText" onclick="onMessageTextClicked()" readonly="">
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-block btn-primary" onclick="onMessageTextClicked()">수정</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <strong>예약 시간(UTC)</strong>
            </td>
            <td>
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div id="reservationTime" class="input-group" data-target-input="nearest">
                            <input type="text" id="reservationTimeValue" class="form-control" data-target="#reservationTime" />
                            <div class="input-group-append" data-target="#reservationTime" data-toggle="datetimepicker">
                                <div class="input-group-text">
                                    <i class="far fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="row" style="flex-direction: row-reverse;">
    <button type="button" class="btn btn-danger btn-lg pl-5 pr-5" onclick="sendPush()"><i class="far fa-paper-plane"></i> 푸시 발송</button>

</div>


<div id="loading" style="display: none;">
    <div class="overlay modal d-flex justify-content-center align-items-center" style="background: #00000055;">
        <i class="fas fa-2x fa-sync fa-spin"></i>
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" />
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
    <style>
        table tr td {
            vertical-align: middle !important;
        }
    </style>
}

@section Scripts
{
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/plugins/select2/js/select2.min.js"></script>
    <script src="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css"></script>
    <script>
        $(document).ready(function () {
            $('#reservationTime').datetimepicker(dateTimePickerOption_UtcNow);

            initSendUserRadio();
        });

        function initSendUserRadio() {
            $('input[name=sendUserRadio]').change(function () {
                onSendUserRadioChanged();
            });
            onSendUserRadioChanged();
        }
        // 수신인 선택 라디오 버튼 변경 시
        function onSendUserRadioChanged() {
            var sendUserRadioValue = $('input[name=sendUserRadio]:checked').val();
            if (sendUserRadioValue === '1') {
                $('#sendTargetText').val('/AllUsers');
                $('#sendTargetText').prop('disabled', true);
                $('#sendTargetButton').prop('disabled', true);
            } else if (sendUserRadioValue === '2') {
                $('#sendTargetText').val('/NormalUsers');
                $('#sendTargetText').prop('disabled', true);
                $('#sendTargetButton').prop('disabled', true);
            } else if (sendUserRadioValue === '3') {
                $('#sendTargetText').val('/NewUsers');
                $('#sendTargetText').prop('disabled', true);
                $('#sendTargetButton').prop('disabled', true);
            } else if (sendUserRadioValue === '4') {
                $('#sendTargetText').val('/ToReturnUsers');
                $('#sendTargetText').prop('disabled', true);
                $('#sendTargetButton').prop('disabled', true);
            } else {
                $('#sendTargetText').val('');
                $('#sendTargetText').prop('disabled', false);
                $('#sendTargetButton').prop('disabled', false);
            }
        }


        function onUserSelectClicked() {
            openUserSelectPopup(
                function (userSeq) {
                    var sendUserRadioValue = $('input[name=sendUserRadio]:checked').val();
                    if (sendUserRadioValue === '5') {
                        var currentText = $('#sendTargetText').val();
                        if (currentText !== '') {
                            currentText += ';' + userSeq;
                        } else {
                            currentText = userSeq;
                        }
                        $('#sendTargetText').val(currentText);
                    }
                });
        }

        function onTitleTextClicked() {
            openLanguageTextInputPopup($('#titleText').val(),
                function (text) {
                    $('#titleText').val(text);
                });
        }

        function onMessageTextClicked() {
            openLanguageTextInputPopup($('#messageText').val(),
                function (text) {
                    $('#messageText').val(text);
                });
        }

        function sendPush() {

            let titleText = $('#titleText').val();
            let sendTargetText = $('#sendTargetText').val();
            let messageText = $('#messageText').val();
            let reservationTime = $('#reservationTimeValue').val();

            $.ajax({
                type: 'POST',
                url: '/api/operation/push/add-push-data',
                data: {
                    titleText: titleText,
                    sendTargetText: sendTargetText,
                    messageText: messageText,
                    reservationTime: reservationTime,
                },
                success: function (response) {
                    alert('성공');
                    location.reload();
                },
                error: function (xhr, status, error) {
                    alert('실패\n' + xhr.responseText);
                },
                complete: function (response) {
                    $('#editModal').modal('hide');
                    endLoading();
                }
            });
        }

        function startLoading() {
            $('#loading').show();
        }

        function endLoading() {
            $('#loading').hide();
        }
    </script>
}