@page
@model WebTool.Pages.Indicator.PlayCount.MusicRightCopyCountdownModel
@{
    ViewData["Title"] = "음원 카운트";
    ViewData["ActiveMenu"] = "/Indicator/PlayCount/MusicRightCopyCountdown";
}

<div class="row mb-2">
    <div class="content-header">
        <h1 class="text-dark">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-12">
        <div id="StartDate" class="input-group" data-target-input="nearest">
            <input type="text" id="StartDateValue" class="form-control" data-target="#StartDate" />
            <div class="input-group-append" data-target="#StartDate" data-toggle="datetimepicker">
                <div class="input-group-text">
                    <i class="far fa-calendar"></i>
                </div>
            </div>
        </div>
    </div>
    <a><strong>~</strong></a>
    <div class="col-md-3 col-sm-12">
        <div id="EndDate" class="input-group" data-target-input="nearest">
            <input type="text" id="EndDateValue" class="form-control" data-target="#EndDate" />
            <div class="input-group-append" data-target="#EndDate" data-toggle="datetimepicker">
                <div class="input-group-text">
                    <i class="far fa-calendar"></i>
                </div>
            </div>
        </div>
    </div>
    <button type="button" id="search" class="btn btn-secondary space">검색</button>
    <button type="button" id="total" class="btn btn-secondary space">전체</button>
    <button type="button" id="excel" class="btn btn-secondary space">엑셀</button>
    <div class="col-12" style="margin-top:30px;">
        <table id="table-musiccount" class="table table-bordered table-striped table-hover dataTable dtr-inline text-center">
            <thead>
                <tr>
                    @for (var i = 0; i < Model.columnHeader.Length; i++)
                    {
                        <td>@Model.columnHeader[i]</td>
                    }
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Styles {
    <style>
        .space {
            margin-left: 5px;
            margin-right: 5px;
        }

        .paragraph {
            margin-bottom: 30px;
        }
    </style>
}

@section Scripts {
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/plugins/select2/js/select2.min.js"></script>
    <script src="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css"></script>
    <script>
        $(document).ready(function () {
            $('#StartDate').datetimepicker(dateTimePickerOption_UtcNow_WithoutTime);
            $('#EndDate').datetimepicker(dateTimePickerOption_UtcNow_WithoutTime);
        });
    </script>
}