@page
@model WebTool.Pages.Indicator.PlayCount.ShowDancerModel
@{
    ViewData["Title"] = "쇼 댄서";
    ViewData["ActiveMenu"] = "/Indicator/PlayCount/ShowDancer";
}

<div class="row mb-2">
    <div class="content-header">
        <h1 class="text-dark">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table id="table-showdancer" class="table table-bordered table-striped table-hover dataTable dtr-inline text-center">
        </table>
    </div>
</div>